<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12167641124-iiboodokd1avoo9i65muob3eu6argv1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12167641124-iiboodokd1avoo9i65muob3eu6argv1m</string>
	<key>API_KEY</key>
	<string>AIzaSyDxNhxy6j9JsA_Vo2Vlr01K2shiHaQED04</string>
	<key>GCM_SENDER_ID</key>
	<string>12167641124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wangyin.od</string>
	<key>PROJECT_ID</key>
	<string>quizzapp-d56de</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzapp-d56de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12167641124:ios:78c46b57fc063bd8a480b1</string>
	<key>DATABASE_URL</key>
	<string>https://quizzapp-d56de-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>